.pacienteElegido{
    display: grid;
    grid-template-columns: 30% 40% 30%; 
    /* margin-top: 30px;
    margin-bottom: 2.2rem; */
    /* box-sizing: border-box; */
}

.datosPersonales {
    margin: 30px 40px 0 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
}
    .datosPersonales > h4 {
        text-align: center;
        border: 2px solid #8AB597;
        border-radius: 5px 5px 0 0;
        background-color: #8AB597;
        width: 40%;
        padding: 4px 0;
        color: #FCFDFC;
    }

        .datosPersonales > ul {
            border: 2px solid #8AB597;
            border-radius: 10px;
            padding: 10px 10px 10px 30px;
            background-color: #CCD5AE;
            
            width: 80%;
        }
            .datosPersonales ul li {
                list-style: none;
                color: #4c9360;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 1px;
            }
                .datosPersonales ul li p {
                    color: black;
                }
    .datosPersonales button {
        margin-top: 20px;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid #4C9360;
        background-color: #E9EDC9;
        color: #4C9360;
        font-size: 1rem;
        cursor: pointer;
        transition: all 200ms;
    }
        .datosPersonales button:hover {
            
            border: 2px solid #4C9360;
            background-color: #4C9360;
            color: #E9EDC9;
            
        }

.datosPsiquiatricos {
    margin: 30px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    position: relative;
    box-sizing: border-box;
    min-height: 1080px;
}
    .datosPsiquiatricos .consulta {
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;
        gap: 10px;
    }
        .datosPsiquiatricos .consulta button{
            font-size: 1.1rem;
            background-color: #FCE1E4;
            border: none;
            border-radius: 10px 10px 0 0;
            width: 200px;
            height: 50px;
            position: relative;
            
        }
        
            .datosPsiquiatricos .consulta button .active {
                background-color: #F37E7E;
                color: #FCE1E4;
                font-weight: bold;
            }        

        .datosPsiquiatricos .consulta button a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0 0;
            text-decoration: none;
            color: #F37E7E;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #F37E7E;
        }
        .datosPsiquiatricos .consulta button a:hover {
            background-color: #F37E7E;
            color: #FCE1E4;
            font-weight: bold;
            font-size: 1.1em;
        }
           
    
    .datosPsiquiatricos .antecedentes{
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;
        gap: 10px;
        
    }
        .datosPsiquiatricos .antecedentes button {
            color: #CAB680;
            font-size: 1rem;
            background-color: #FAEDCD;
            border: none;
            padding: 0 5px;
            border-radius: 10px 10px 0 0; 
            width: 200px;
            height: 50px;
            position: relative;
            font-size: 1.1rem;
        }
            .datosPsiquiatricos .antecedentes button .active {
                background-color: #CAB680;
                color: #FAEDCD;
                font-weight: bold;
                font-size: 1.1em;
            }
            
            .datosPsiquiatricos .antecedentes button a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-decoration: none;
                background-color: #FAEDCD;
                border-radius: 10px 10px 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #CAB680;
                border: 2px solid #CAB680;
            }
                .datosPsiquiatricos .antecedentes button a:hover {
                    background-color: #CAB680;
                    color: #FAEDCD;
                    font-weight: bold;
                    font-size: 1.1em;
                }
                    
                   
.datosPsiquiatricos .genograma {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    gap: 10px;
}
    .datosPsiquiatricos .genograma button {
        color: #5D8DB1;
        font-size: 1rem;
        background-color: #DAEAF6;
        padding: 0 5px;
        border: none;
        width: 200px;
        height: 50px;
        position: relative;
        border-radius: 10px 10px 0 0;
    }
        .datosPsiquiatricos .genograma button .active {
            background-color: #5D8DB1;
            color: #DAEAF6;
            font-weight: bold;
        }

    .datosPsiquiatricos .genograma button a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #5D8DB1;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
        border: 2px solid #5D8DB1;
    }
        .datosPsiquiatricos .genograma button a:hover {
            background-color: #5D8DB1;
            color: #DAEAF6;
            font-weight: bold;
        }

.datosPsiquiatricos .hobbies {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    gap: 10px;
}
    .datosPsiquiatricos .hobbies button {
        color: #9985B8;
        font-size: 1rem;
        background-color: #E8DFF5;
        border: none;
        padding: 0 5px;
        border-radius: 10px 10px 0 0;
        width: 200px;
        height: 50px;
        position: relative;
    }
        .datosPsiquiatricos .hobbies button .active{
            color: white;
            font-weight: bold;
            background-color: #9985B8;
        }

        .datosPsiquiatricos .hobbies button a{
            text-decoration: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            border: 2px solid #9985B8;
        }

        .datosPsiquiatricos .hobbies button a:hover{
            color: white;
            font-weight: bold;
            background-color: #9985B8;
            cursor: pointer;
            font-size: 1.2rem;
        }

.datosPsiquiatricos .tratamientos {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    gap: 10px;
}
    .datosPsiquiatricos .tratamientos button {
        color: #5C8065;
        font-size: 1rem;
        background-color: #F1F3DD;
        border: 2px solid #5C8065;
        padding: 0 5px;
        border: none;
        border-radius: 10px 10px 0 0;
        width: 200px;
        height: 50px;
        position: relative;
    }
        .datosPsiquiatricos .tratamientos button .active {
            color: #F1F3DD;
            font-weight: bold;
            background-color: #5C8065;
        }
        .datosPsiquiatricos .tratamientos button a{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-decoration: none;
            font-size: 1.1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px 10px 0 0;
            border: 2px solid #5C8065;
        }
        .datosPsiquiatricos .tratamientos button a:hover{
            color: #F1F3DD;
            font-weight: bold;
            background-color: #5C8065;
            font-size: 1.2rem;
            cursor: pointer;
        }

.elementos {
    height: 86%;
}