body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; 
}

.pacientes-container {
  display: flex;
  align-items: center;
  height: 86vh;
  width: 80vw;
  margin-top: -40px;
}


.filter-section, .pacientes-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter-section {
  border-right: 1px solid #dcdcdc;
}

.input {
  text-align: center;
  padding: 10px;
  border: 3px solid #B1B3A0;
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #73746f;
  background-color: #f5f5f500; 
  width: 250px;
}

.input:focus {
  outline-color: #73746f;
}

.button {
  padding: 10px 20px;
  border: 20px;
  border-radius: 5px;
  background-color: #add8e6; 
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: none;
}

.delete-button:hover {
  background-color: #E9EDC9; 
  color: #8AB597;
}

.delete-button {
  margin-left: 20px;
  background-color: #8AB597;
  border-radius: 10px;
  padding: 10px;
  color: #dcdcdc;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.pacientes-list {
  list-style-type: none;
  padding: 0;
  max-height: 70vh;
  overflow: auto;
  justify-content: start;
  border: 3px solid #8AB597;
  border-right: none;
  border-radius: 30px 0 0 30px;
  background: #CCD5AE;
}
/* .pacientes-list::-webkit-scrollbar {
  width: 20px; 
  background-color: #8AB597;

} */

  .pacientes-list .paciente-item > a {
    text-decoration: none;
    color: #4d4d4d;
    transition: all 150ms;
  }
  .pacientes-list .paciente-item > a:hover{
    background-color: #ECF0E2;
    border-radius: 16px;
    padding: 6px 25px;
    
  }


.paciente-item {
  padding: 5px;
  margin: 5px 0;
  /* border: 1px solid #dcdcdc; */
  border-radius: 5px;
  /* background-color: #e6e6fa;  */
  color: #4d4d4d;
  font-size: 18px;
}