.conteinerPrincipal {
    display: flex;
    flex-direction: column;
    background-color: #E9EDC9;
}

.navPrincipal{
    grid-area: nav;
    width: 100%;
    background-color: #707070;
}

.navPrincipal ul{
    display: flex;
    flex-direction: row;
    gap: 200px;
    background-color: #707070;
    width: auto;
    padding: 10px 20px;
}
    .navPrincipal ul li {
        list-style: none;
    }
        .navPrincipal ul li > a{
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

.routes {
    grid-area: routes;
    box-sizing: border-box;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    
    background-color: aquamarine;
    width: 100%;
    padding: 10px;
    grid-area: footer;
}

    