.conteinerPrincipal {
    display: grid;
    grid-template-areas: "nav nav" 
                        "routes routes"
                        "footer footer";
    grid-template-rows: 5% 90% 5%;
    background-color: #E9EDC9;
    position: relative;
}

.navPrincipal{
    width: 100%;
    background-color: #707070;
    grid-area: nav;
}

.navPrincipal ul{
    display: flex;
    flex-direction: row;
    gap: 200px;
    background-color: #707070;
    width: auto;
    padding: 10px 20px;
}
    .navPrincipal ul li {
        list-style: none;
    }
        .navPrincipal ul li > a{
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

.routes {
    width: 100%;
    
    grid-area: routes;
} 

.footer {
     
    background-color: aquamarine;
    width: 100%; 
    grid-area: footer;
   
}

    