.conteinerPrincipal {
    
    background-color: #E9EDC9;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navPrincipal{
    
    width: 100%;
    background-color: #707070;
    flex: 1;
    
}

.navPrincipal ul{
    display: flex;
    flex-direction: row;
    gap: 200px;
    background-color: #707070;
    width: auto;
    padding: 10px 20px;
}
    .navPrincipal ul li {
        list-style: none;
    }
        .navPrincipal ul li > a{
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

.routes {
    width: 100%;
    box-sizing: border-box;
    margin: 40px 0;
    flex: 2;
} 

.footer { 
    background-color: aquamarine;
    width: 100%; 
    position: fixed;
    bottom: 0;
    flex: 3;
}

    