.conteiner-fums {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAEDCD;
  border-radius: 10px;
  overflow-y: scroll;
  border: 1px solid #C4AF76;
  border-right: none;
  height: 100%;
}

.fums {
  width: 90%;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.fums li {
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  list-style: none;
  padding: 0.5rem;
  border: 2px solid #C4AF76;
  border-top: none;
  border-left: none;
  border-right: none;
  /* border-radius: 10px; */
  text-align: center;
}
  .fums li strong {
    color: #8b763c;
    font-size: 1.1rem;
  }

.fums .boton-editar{
  margin-left: 10rem;
  margin-top: 0.8rem;
  background-color: #FAEDCD;
  border-radius: 10px;
  padding: 10px;
  color: #C4AF76;
  font-weight: bold;
  border: 2px solid #C4AF76;
  cursor: pointer;
  transition: all 200ms;
}

.conteiner-fums .ciclos .boton-editar,
.conteiner-fums .otros .boton-editar {
  /* margin-left: 10rem; */
  margin-top: 0.8rem;
  background-color: #FAEDCD;
  border-radius: 10px;
  padding: 10px;
  color: #C4AF76;
  font-weight: bold;
  border: 2px solid #C4AF76;
  cursor: pointer;
  transition: all 200ms;
}
.fums .boton-editar:hover,
.conteiner-fums .ciclos .boton-editar:hover,
.conteiner-fums .otros .boton-editar:hover {
  background-color: #fae2a6;
  border: 2px solid #e9d194;
  color: #a19064;
}

.fums .boton-borrar {
  margin-left: 10px;
  background-color: #C4AF76;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: 2px solid #FAEDCD;
  cursor: pointer;
  transition: all 200ms;
}
.fums .boton-borrar:hover {
  background-color: #776b47;
  color: #FAEDCD;
  border: 2px solid #C4AF76;
}

.conteiner-fums .boton-agregar {
  margin-top: 1rem;
  margin-left: 10px;
  background-color: #FAEDCD;
  border-radius: 10px;
  padding: 10px;
  color: #C4AF76;
  font-weight: bold;
  border: 2px solid #C4AF76;
  cursor: pointer;
  transition: all 200ms;
}
.conteiner-fums .boton-agregar:hover {
  background-color: #C4AF76;
  color: white;
}

.ciclos,
.otros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
    width: 80%;
}

.ciclos h4,
.otros h4{
  font-size: 1.5rem;
  color: #8b763c;
  margin-bottom: 0.5em;
}

.ciclos textarea,
.otros textarea {
  width: 100%;
  height: 6rem;
  border-radius: 10px;
  padding: 10px;
  border: #C4AF76 solid 2px;
  color: #9e8f65;
  font-size: 1rem;
  background-color: #f8f2e4;
}

.ciclos textarea:focus,
.otros textarea:focus {
  outline-color: #e4bb4b;
  color: #c09e41;
}
