.agregar-consulta {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f0b3b3cc;
    /* Con esto hago el desenfoque del fondo */
    backdrop-filter: blur(10px);
}

    .agregar-consulta form {
        width: 60%;
        margin: 10rem auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;
    }
        .agregar-consulta h3 {
            top: 80px;
            left: 50%;
            transform: translate(-50%, 0);
            position: absolute;
            text-align: center;
            color: #b16464;
            font-weight: bold;
            font-size: 1.8em;
        }
            .agregar-consulta input[type="date"]{
                margin-top: 10px;
                padding: 5px;
                border-radius: 5px;
                border: #F37E7E solid 2px;
            }
                .agregar-consulta textarea {
                    width: 80%;
                    height: 6rem;
                    border-radius: 10px;
                    padding: 10px;
                    border: #F37E7E solid 2px;
                    font-size: 1rem;
                }
                .agregar-consulta textarea:focus {
                   outline-color: #f0b3b3;
                   color: #F37E7E;
                }

    .botones {
        display: flex;
        flex-direction: row;
        gap: 20rem;
    }

    .agregar-consulta input[type="submit"]{
        background-color: #FCE1E4;
        border-radius: 10px;
        padding: 10px;
        color: #F37E7E;
        font-weight: bold;
        border: 2px solid #F37E7E;
        cursor: pointer;
        transition: all 200ms;
    }
        .agregar-consulta input[type="submit"]:hover {
            background-color: #F37E7E;
            color: #dddddd;
        }

    .agregar-consulta button {
        background-color: #FCE1E4;
        border-radius: 10px;
        padding: 10px;
        color: #F37E7E;
        font-weight: bold;
        border: 2px solid #F37E7E;
        cursor: pointer;
        transition: all 200ms;
    }
        .agregar-consulta button:hover{
            background-color: #F37E7E;
            color: #dddddd;
        }